{
  "extends": "airbnb/base",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "globals": {
    "document": false
  },

  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "max-len": [2, 120],
    "max-params": [2, 3],
    "no-console": "off",
    "eol-last": 0,
    "@typescript-eslint/no-unused-vars": "error",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off"
  },
  "env":    {
    "browser": true
  },



  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/internal-regex": "^@",
    "import/resolver": {
      "eslint-import-resolver-custom-alias": {
        "alias": {
          "@": "./src"
        },
        "extensions": [".ts"]
      }
    }
  }
}

