.wrapper {
  margin-bottom: 20px;
  display: flex;
}

.input {
  display: none;
  width: 0;
  height: 0;
}

.label {
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
