.chat {
  width: 100%;
  height: 100%;
  display: flex;

  &__sidebar {
    width: 300px;
    border-right: var(--bg-secondary) 1px solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__settings {
    border-top: var(--bg-secondary) 1px solid;
    padding: 22px;
  }

  &__dialogs {
    padding: 5px;
    overflow-y: auto;
  }

  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.info {
  border-bottom: var(--bg-secondary) 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log {
  padding:10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &__inner {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }



  .item {
    display: flex;
    place-self: start;
    align-items: center;
    justify-content: space-between;


    &:last-child {
      margin-bottom: 0;
    }

  }

  .date {
    color: var(--text-ligth);
    background-color: var(--bg-secondary);
    border-radius: 10px;
    padding: 1px 8px;
    place-self: center;
    font-size: 13px;
  }

  .text {
    color: var(--text-dark-secondary);
    border: var(--bg-secondary) 1px solid;
    border-radius: 10px;
    padding: 3px 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .time {
    color: var(--text-secondary);
    font-size: 13px;
  }

}

.send {
  display: flex;
  margin-top: auto;
  width: 100%;
  padding: 10px;

  button {
    width: 150px;
    background: none;
    border: 1px solid var(--bg-secondary);
    cursor: pointer;
    transition: .3s border;
    border-radius: 5px;
    color: #484848;
    font-weight: 500;
    font-family: var(--font-family);
    height: 100%;

    &:hover {
      background: none;
      border: 1px solid var(--bg-secondary-hover);
    }
  }
}
